@{
    ViewData["Title"] = "Home Page";
}
<div class="row text-light">
    <h1>Login</h1>
</div>

<div class="text-light">
    <form method="POST" action="#">
        <div class="row">
            <div class="col-2">
                <label for="username">Username:</label>
            </div>
            <div class="col">
                <input id="text-username" type="text" name="username" placeholder="Username" required>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-2 end-0">
                <label for="password">Password:</label>
            </div>
            <div class="col">
                    <input type="password" name="password" placeholder="Password" required>
            </div>
        </div>
        <div class="row mt-2 start-0">
            <div class="col">
                <input type="submit" value="Login" class="btn btn-light">
            </div>
        </div>
    </form>
</div>
