@{
	ViewData["Title"] = "Home Page";
}
<div class="row text-light text-center" style="margin: 0px 0px;">
	<h1>Register</h1>
</div>

<div class="row text-light mt-3 justify-content-center" style="margin: 0px 0px;">
	<div class="col-4">
		<form>
			<div class="mb-3">
				<label for="firstname" class="form-label">Firstname:</label>
				<input type="text" class="form-control rounded border-style-input" id="firstname" placeholder="Firstname">
			</div>

			<div class="mb-3">
				<label for="lastname" class="form-label">Lastname:</label>
				<input type="text" class="form-control rounded border-style-input" id="lastname" placeholder="Lastname">
			</div>

			<div class="mb-3">
				<label for="email" class="form-label">Email Address:</label>
				<input type="email" class="form-control rounded border-style-input" id="email" placeholder="example@outlook.com">
			</div>

			<div class="mb-3">
				<label for="age" class="form-label">Age:</label>
				<input type="date" class="form-control rounded border-style-input" id="age">
			</div>

			<div class="mb-3">
				<label for="password" class="form-label">Password:</label>
				<input type="password" class="form-control rounded border-style-input" id="password" placeholder="Password">
			</div>

			<div class="mb-3 text-center">
				<button type="submit" class="btn btn-light button-submit-bg">Register</button>
				<button type="reset" class="btn btn-light button-submit-bg">Reset</button>
			</div>
		</form>
	</div>
</div>
