@model OpdrachtSchoolVakken.Models.CourseModel

@{
    ViewData["Title"] = "Edit course";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" style="display: none;">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            @Html.DropDownListFor(model => model.Teacher, (SelectList)ViewBag.teachers, new{@class = "listbox"})

            <div class="row">
                <div class="col-2">
                    <label class="control-label">Students</label>
                </div>

                <div class="col-2">
                    <label class="control-label">Results</label>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-2">
                    @foreach(var item in ViewBag.students)
                    {
                        @item.Name <br />
                    }
                </div>

                <div class="col-2">
                    @foreach(var item in ViewBag.students)
                    {
                        <input type="text" name="result" value="">
                    }
                </div>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
