@{
    ViewData["Title"] = "Log in";
}

<div class="container">

    <div class="row">
        <div class="col-3"><!--Filler--></div>

        <div class="col-6">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail" class="form-label">Email address:</label>
                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Uw E-mail adres hier." required>
                    <div id="emailHelp" class="form-text">
                        Uw E-mail adres wordt alleen gebruikt voor in te loggen.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="exampleInputPassword" placeholder="Uw wachtwoord hier." required>
                </div>
                <button type="submit" class="btn btn-primary" asp-controller="User" asp-action="processLogin">Log in</button>
                </form>
        </div>

        <div class="col-3"><!--Filler--></div>
    </div>

</div>
