@{
    ViewData["Title"] = "About";
}
<div class="col-12 text-center text-light">
    <h1>DJ's</h1>
    <hr>
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="markWithAK">Mark With A K</a>
    <br>
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="Sickmode">Sickmode</a>
    <br>
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="Rooler">Rooler</a>
    <br>
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="RanD">Ran-D</a>
    <br>
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="Sefa">Sefa</a>
    <br>
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="BrennanHeart">Brennan Heart</a>
    <br>
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="Mandy">Mandy</a>
    <br>
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="Coone">Coone</a>
    <br>
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="PaulElstak">Paul Elstak</a>
    <br>
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="RadicalRedemption">Radical Redemption</a>
    <br>
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="Frontliner">Frontliner</a>
    <br>
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="Crypsis">Crypsis</a>
</div>

