@{
    ViewData["Title"] = "About";
}
<div class="container text-light text-center">

    <div class="row">
        <div class="col">
            <h1>Listen to their music!</h1>
        </div>
    </div>
    <hr style="width: 100%">

    <div class="row mt-4">
        <div class="col">
            <h2>Mark With A K</h2>
        </div>
    </div>

    <hr style="width: 30%;">

     <!--music card MWAK-->
     <div class="row">

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/mwak-out of my mind.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/MarkWithaKftXillionsOutOfMyMind.mp3" />
                 </audio>
             </div>
         </div>

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/mark with a k logo.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Nathan Evans - Wellerman (Mark With a k RMX)(Official Video).mp3" />
                 </audio>
             </div>
         </div>

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/mwak-somebody to love.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Mark With a K ft Natalia - Somebody To Love (Official Videoclip).mp3" />
                 </audio>
             </div>
         </div>

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/mwak-somebody like me.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Xillions - Somebody Like Me (Mark With a K RMX)(Official Videoclip).mp3" />
                 </audio>
             </div>
         </div>

     </div>
     <!--music card MWAK-->

     <!--Music titles mwak-->
     <div class="row mt-2">

         <div class="col-3">
             <h4>Out Of My Mind</h4>
         </div>
         <div class="col-3">
             <h4>Wellerman</h4>
         </div>
         <div class="col-3">
             <h4>Somebody To Love</h4>
         </div>
         <div class="col-3">
             <h4>Somebody Like Me</h4>
         </div>

     </div>
     <!--Music titles mwak-->

     <div class="row mt-5">
         <div class="col">
             <h2>Sickmode</h2>
         </div>
     </div>

     <hr style="width: 30%;">

     <!--Music Cards Sickmode-->
     <div class="row">

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/sickmode - klaplong.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Sickmode - Klaplongen Official Video.mp3" />
                 </audio>
             </div>
         </div>

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/sickmode - too hot.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Sickmode & Rooler - TOO HOT (Official Video).mp3" />
                 </audio>
             </div>
         </div>

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/sickmode - one and only.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Sickmode & Mish - One And Only (Official Video).mp3" />
                 </audio>
             </div>
         </div>

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/sickmode - hey x.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Sickmode - HEY X (Official Video).mp3" />
                 </audio>
             </div>
         </div>

     </div>
     <!--Music Cards Sickmode-->

     <!--Music titles Sickmode-->
     <div class="row mt-2">

         <div class="col-3">
             <h4>Klaplong</h4>
         </div>
         <div class="col-3">
             <h4>Too Hot</h4>
         </div>
         <div class="col-3">
             <h4>One And Only</h4>
         </div>
         <div class="col-3">
             <h4>Hey X</h4>
         </div>

     </div>
     <!--Music titles Sickmode-->

     <div class="row mt-5">
         <div class="col">
             <h2>Rooler</h2>
         </div>
     </div>

     <hr style="width: 30%;">

     <!--Music Cards Rooler-->
     <div class="row">

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/rooler- discotek.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Rooler - DISCOTEK (Official Video) (AR Mixtape Vol.1).mp3" />
                 </audio>
             </div>
         </div>

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/rooler- domination.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/DOMINATION (SEFA Remix).mp3" />
                 </audio>
             </div>
         </div>

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/rooler-NDLSS.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Rooler - NDLSS (ARCD001).mp3" />
                 </audio>
             </div>
         </div>

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/rooler- remember the name.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/REMEMBER THE NAME (Original Mix).mp3" />
                 </audio>
             </div>
         </div>

     </div>
     <!--Music Cards Rooler-->

     <!--Music titles Rooler-->
     <div class="row mt-2">

         <div class="col-3">
             <h4>Discotek</h4>
         </div>
         <div class="col-3">
             <h4>Domination</h4>
         </div>
         <div class="col-3">
             <h4>NDLSS</h4>
         </div>
         <div class="col-3">
             <h4>Remember The Name</h4>
         </div>

     </div>
     <!--Music titles Rooler-->

     <div class="row mt-5">
         <div class="col">
             <h2>Ran-D</h2>
         </div>
     </div>

     <hr style="width: 30%;">

     <!--Music Cards ran-d-->
     <div class="row">

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/rand - MGFY.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Ran-D & Villain - MGFY (WRTN = OUT NOW!).mp3" />
                 </audio>
             </div>
         </div>

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/rand - zombie.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Ran-D - Zombie (official videoclip).mp3" />
                 </audio>
             </div>
         </div>

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/rand - Hurricane.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Ran-D - Hurricane [OUT NOW].mp3" />
                 </audio>
             </div>
         </div>

         <div class="col-3">
             <div class="player">
                 <div class="imgbox">
                     <img src="~/img/thumbnails/rand - living for the moment.jpg" />
                 </div>
                 <audio controls>
                     <source src="~/audio/Ran-D - Living for the Moment (Official Videoclip).mp3" />
                 </audio>
             </div>
         </div>

     </div>
     <!--Music Cards ran-d-->

     <!--Music titles ran-d-->
     <div class="row mt-2">

         <div class="col-3">
             <h4>MGFY</h4>
         </div>
         <div class="col-3">
             <h4>Zombie</h4>
         </div>
         <div class="col-3">
             <h4>Hurricane</h4>
         </div>
         <div class="col-3">
             <h4>Living For The Moment</h4>
         </div>

     </div>
     <!--Music titles ran-d-->

     <div class="row mt-5">
         <div class="col">
             <h3>And More To Come!!!</h3>
         </div>
     </div>
      
</div>
