@{
    ViewData["Title"] = "About - Brennan Heart";
}
<div class="col-12 mt-3 text-light text-center">

    <h1>Brennan Heart</h1>
    <br>
    <br>
    Brennan Heart, wiens echte naam Fabian Bohn, geboren in 1982, is een producer en disc jockey van hardstyle Dutch. 
    Brennan Heart heeft een discografie van meer dan honderd EP's. 
    Hij remixte ook veel composities van andere artiesten in hetzelfde genre, 
    zoals Headhunterz, Technoboy en The Prophet, en componeerde vervolgens onder vele andere artiestennamen. 
    Brennan Heart is een van de meest gerespecteerde artiesten in de hardstyle-arena.

</div>

