@{
    ViewData["Title"] = "About - Coone";
}
<div class="col-12 mt-3 text-light text-center">
    <h1>Coone</h1>
    <br>
    <br>
    Coone first started producing in 1998 at age 15. He released his first EP in 2002, "Protect The Innocent". 
    Under the pseudonym "The Artist Also Known As", he broke out into the scene with "Eating Donuts", a remix of "Song 2" by Blur. 
    In 2006, he initiated his very first label Dirty Workz, which released Jump and Hardstyle music – but since 2015 has taken a more background role 
    in the operation of the label, which is now primarily based around Hardstyle. In addition, he has been featured in DJ MAG's 
    Top 100 DJ's with his first entry at #41 in 2011.
    <br>
    In the passing few years, Coone has worked with many leading artists, and in 2014 co-signed with Dim Mak Records (Steve Aoki's label) 
    for upcoming music, in co-operation with Dirty Workz.
    <br>
    In 2013, Coone teamed up with fellow Belgian's Dimitri Vegas & Like Mike to produce the festival hit entitled "Madness" which featured vocals from Lil Jon, 
    which was released on Dim Mak Records. This led to further Coone releases on Dim Mak Records in the lead up to his album "Global Dedication" – 
    which was released in November 2013. Coone collaborated with Steve Aoki on a song entitled "Can't Stop The Swag" and also made a remix for 
    Linkin Park X Steve Aoki "A Light That Never Comes" in January 2014.
    <br>
    In 2015, Coone started a monthly podcast called "Global Dedication".
    Coone was ranked #49 in the DJ Mag 2015 Top 100 DJs making him the highest ranked Hardstyle DJ.
    <br>
    In 2018, he was the first hardstyle artist ever to play on the mainstage of Tomorrowland.

</div>

