@{
    ViewData["Title"] = "About - Sefa";
}
<div class="col-12 mt-3 text-light">
    <h1>Crypsis</h1>
    <br>
    <br>
    Crypsis is de artiestennaam van de Pools-Nederlandse hardstyle-dj en producer Grzegorz Łużyński.
    Na ontdekt te zijn door DJ Luna, bracht hij vanaf 2009 Singles uit op het label Minus is More, gevolgd 
    door het album Cryptology in 2012. Crypsis heeft op festivals gestaan als Hard Bass in GelreDome, In Qontrol in de RAI,
    Bassleader in Flanders Expo en Decibel en trad ook op in Glasgow, Dortmund, Cherrymoon en op Defqon.1 in zowel Australië als Nederland.
    Op Thrillogy in de Jaarbeurs in Utrecht had hij een eigen area (zaal).
    <br/>
    Hij maakt raw hardstyle en wisselt dj-optredens af met live-acts.

</div>

