@{
    ViewData["Title"] = "About - Sefa";
}
<div class="col-12 mt-3 text-light text-center">
    <h1>Frontliner</h1>
    <br>
    <br>
    DJ Frontliner, pseudoniem van Barry Drooger, is een Nederlands hardstyle-diskjockey uit Amsterdam.
    <br>
    Hij begon met produceren in 2005 onder de naam Abject. Aan het eind van 2006 werkte hij mee aan het project Headhunterz van Willem Rebergen. 
    Zijn werk komt uit op Keep It Up Music, het door Frontliner in juni 2012 opgerichte label.
    <br>
    Frontliner stond op Defqon.1, Decibel Outdoor, Qlimax, Reverze, In Qontrol en nog een aantal andere grote harddancefeesten.
    <br>
    In 2010 maakte Frontliner het anthem voor het Q-dancefestival In Qontrol, genaamd Save.Exit.Planet. Het jaar daarop, in 2011, 
    maakte hij het anthem voor het Reverze festival met als titel "Call of the Visionary". Hij maakte in 2012 een van de 7 anthems van Q-base, 
    "Symbols", en in 2013 het anthem voor Defqon.1 met als titel "Weekend Warriors".

</div>

