@{
    ViewData["Title"] = "Home Page";
}
<div class="row-12">
    <div id="artist-summup" class="col-3 text-light pt-5">
        <ul class="custom-list">
            <li>Mark With A K</li>
            <li>Sickmode</li>
            <li>Pat-B</li>
        </ul>
    </div>
</div>

