@{
    ViewData["Title"] = "Home Page";
}


<div class="custom-container">

        <div id="artist-summup" class="col-2 text-light pt-2 pb-2">
            <ul class="custom-list">
                <li>Mark With A K</li>
                <li>Sickmode</li>
                <li>Rooler</li>
            </ul>
        </div>

        <span class="placeholder col-2">
            <img src="~/img/mark-with-a-k.jpg" class="img-fluid img-thumbnail" alt="Picture of Mark With A K"/>
        </span>

        <span class="placeholder col-2">
            <img src="~/img/sickmode.jpg" class="img-fluid img-thumbnail" alt="Picture of Sickmode"/>
        </span>

        <span class="placeholder col-2">
            <img src="~/img/rooler.png" class="img-fluid img-thumbnail" alt="Picture of Sickmode"/>
        </span>

</div>

