@{
    ViewData["Title"] = "About - Mandy";
}
<div class="col-12 mt-3 text-light text-center">
    <h1>Mandy</h1>
    <br>
    <br>
    Mandy Praet (Gent, 23 oktober 1997) is een Belgische hardstyle-dj die werkt onder de artiestennaam MANDY. 
    Vanaf haar vijftiende draaide zij in lokale clubs zoals Highstreet, Complex en Cherry Moon in België, totdat zij zich aansloot bij Platform Agency. 
    Ze heeft opgetreden op festivals als Tomorrowland en Daydream Festival.

</div>

