@{
    ViewData["Title"] = "About - Mark With A K";
}
<div class="col-12 mt-3 text-light">
    <h1>Mark With A K</h1>
    <br>
    <br>
    Mark Carpentier (born 10 February 1973) is a Belgian DJ and record producer who performs under the name Mark With a K. 
    He produces performs music within the hard dance music genre. He has performed at some major hard dance events in Europe.
    <br>
    Mark With A K released his first record "Pure Perfection" with Danny C on db Sounds in 2003. He continued to release his music 
    on various labels including Zoo Records, Digidance and BS2. In 2012, Mark With A K founded his own record label named Noize Junky 
    which is a platform for hard dance music, specifically jumpstyle and tek.
    <br>
    Mark With A K has released five solo albums over his musical career, his first album "My World" was released in 2009, his second "Harder" 
    was released in 2010, his third album "Roll With Me" was released in 2011 and his fourth album, "The Next Level" came out in 2013. 
    His fifth album called "Mass Hysteria" came out in 2018. Apart from his solo releases, Mark With A K has collaborated with other artists within 
    the hard dance genre such as Chris Willis, MC Chucky, Akyra, Ruthless, DJ Coone, Dark-E and Davoodi.
    <br>
    Besides his performances as Mark With A K, Mark is also part of two music groups: Highstreet Allstars and Lords of TEK 
    which also perform hard dance music.
    <br>
    Mark With A K has performed at Decibel Outdoor Festival, Defqon.1 Festival, Mysteryland, 
    Q-BASE, Tomorrowland, Reverze, as well as at many other Q-Dance and B2S events. Over the years, he has performed in 
    Belgium, the Netherlands, Sweden, Germany, France, and Spain.

</div>

