@{
    ViewData["Title"] = "About - Paul Elstak";
}
<div class="col-12 mt-3 text-light">
    <h1>Paul Elstak</h1>
    <br>
    <br>
    Paul Roger Elstak, artiestennaam: DJ Paul Elstak, (Den Haag, 14 januari 1966) is een Nederlands hardcore-dj, producer en labeleigenaar. 
    Hij verwierf landelijke bekendheid door zijn happy-hardcorehits uit 1995 en 1996

</div>

