@{
    ViewData["Title"] = "About - Radical Redemption";
}
<div class="col-12 mt-3 text-light text-center">
    <h1>Radical Redemption</h1>
    <br>
    <br>
    In this Dutch name, the surname is Van Ingen, not Ingen.
    Joey van Ingen (born 17 September 1990, Denekamp), known professionally as Radical Redemption, 
    is a Dutch hardstyle DJ and record producer. He has played at several festivals such as Defqon.1, Dominator and Loudness.

</div>

