@{
    ViewData["Title"] = "About - Ran-D";
}
<div class="col-12 mt-3 text-light">
    <h1>Ran-D</h1>
    <br>
    <br>
    Randy "Ran-D" Wieland (18 May 1981 in Zeeland) is a Dutch DJ and music producer.
    <br>
    Ran-D has been active in hardstyle music since 2006, when he released his first track "D-Pression" on Special Records. 
    After his debut release, Ran-D moved on to release his music on the large Hardstyle Record Label A2 Records, which is a sub-label of Scantraxx Recordz. 
    After releasing on A2 Records for seven years, in March 2015 and alongside Frequencerz, Adaro and B-Front, Ran-D founded the hardstyle record label Roughstate Music.
    <br>
    Ran-D has released a cover version of "Zombie" by The Cranberries, "Living For The Moment," "Firestarter," "Nirvana," "Suicidal Superstar" with Phuture Noize, 
    "Band Of Brothers," and "Hurricane," which was awarded 1st place in the Q-dance Top 100 of 2018.
    <br>
    In collaboration with Adaro, Ran-D is also part of the Hardstyle live-act Gunz For Hire which was founded in 2011.
    Gunz For Hire have released songs including "Bella Ciao," "Sorrow," "Bolivia," "Plata O Plomo," "No Mercy" and "Armed & Dangerous."
    <br>
    Ran-D has collaborated with other artists in hardstyle including Alpha2, Zatox, Zany, B-Front, Phuture Noize,
    Crypsis and Digital Punk. He performed at several hardstyle events, including Qlimax, Hard Bass, Defqon.1 Festival 
    (in Australia, Netherlands and in Chile), Daydream Mexico, Decibel Outdoor Festival, Reverze, Q-BASE and The Qontinent. 
    Furthermore, in January 2017, Ran-D was invited to host an X-Qlusive Event[6] in collaboration with Q-Dance. It was held in the AFAS Live in Amsterdam
    (formerly known as the Heineken Music Hall).

</div>

