@{
    ViewData["Title"] = "About - Rooler";
}
<div class="col-12 mt-3 text-light">
    <h1>Rooler</h1>
    <br>
    <br>
    Rooler (echte naam Christopher Rossi) is een Italiaanse Rawstyle/Raw Hardstyle producer, geboren in Genua.
    Hij is geboren op 21 november 1994. Hij startte zijn muzikale carrière in 2009, samen met Aleandro, een producer die nu deel uitmaakt van de groep Malice. 
    Dit onder de naam 'Doubleconnection'. Uiteindelijk besloten de 2 om hun eigen gang te gaan. Christopher ging door onder de naam 'Lostworld'.
    <br>
    In 2012 startte hij samen met zijn vriend Fabrizio Di Giovanni de groep 'Unnamed'. 
    Aan het begin van 2014 koos Christopher weer om op zichzelf verder te gaan. Hij koos voor een agressieve, en experimentele stijl. 
    Hij is vanaf dat punt verder gegaan met produceren onder de naam Rooler

</div>

