@{
    ViewData["Title"] = "About - Sefa";
}
<div class="col-12 mt-3 text-light">
    <h1>Sefa</h1>
    <br>
    <br>
    Sefa (uitgesproken als: Sèfa) is zowel de voornaam, als de artiestennaam van de Nederlandse diskjockey en muziekproducer Sefa Vlaarkamp 
    (Alkmaar, 30 juni 2000). Sefa is actief binnen de hardcore scene, met als subgenre frenchcore. Hoewel Sefa zelf aangeeft dat zijn richtpunt
    ligt op frenchcore wordt er ook wel gesproken van een nieuwe beweging binnen de Hardcore, vanwege Sefa's samenwerkingen met meerdere artiesten 
    in andere hard dance-genres.[1]

</div>

