@{
    ViewData["Title"] = "About - Mark With A K";
}
<div class="col-12 mt-3 text-light">
    <h1>Sickmode</h1>
    <br>
    <br>
    Coming from the streets of Italy and self teaching production, Sickmode has literally worked his way up from the bottom.
    From a small interest into a full time career, from a dream into a reality. He started his career as Malice which was formerly 
    known as a duo, creating hits like ‘Aggressive Acts’, ‘Watch Your Back’, ’Brutalized’ and ‘Rawstars’ along the way. Also performing as
    Aggressive Act on big stages like Supremacy and Defqon Blue. After many years together, the decision was made to seperate and allow him to 
    follow his own unique sound and go his own path. This is when the name Sickmode was created. With his game changing music he is continually shocking 
    the scene with his powerful and exclusive style. Providing jaw dropping, energetic sets that leave you walking away in disbelief. He really has 
    something for everyone. Recently he released his first mini album ‘Hey X’, with the main track of the album bringing a fresh sound to the 
    Hardstyle scene. He is always aiming to better himself and continue to set trends and follow his unique style. Be sure to follow him on his 
    journey and keep up to date with his socials. An album is in the making and you’re not going to want to miss it.

</div>

