@model IEnumerable<Project.Models.ProductModel>

@{
    ViewData["Title"] = "Producten";
}

<div class="h1-nodec mt-5">
    <h1>Bestellen</h1>
</div>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                Leverancier
            </th>
            <th>
                Product
            </th>
            <th>
                In Stock
            </th>
            <th>
                Besteld
            </th>
        </tr>
    </thead>
    <tbody>

@foreach(var item in Model)
{
    if(item.AmountInStock <= 5)
    {
        <tr>
            <td>
                @foreach(var supplier in ViewBag.displaySuppliers)
                {
                    if(item.SupplierId == supplier.Id)
                    {
                        <div class="col-2">
                            @supplier.Supplier
                        </div>
                    }         
                }
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.AmountInStock
            </td>
            <td>
                @if(item.Ordered == false)
                {
                    <img src="~/img/false.png">
                }
                else if(item.Ordered == true)
                {
                    <img src="~/img/check.png">
                }
                else
                {
                    <span style="color: red;">Verkeerde waarde ingelezen</span>       
                }
            </td>
        </tr>
    }
}

    </tbody>
</table>

<a asp-controller="Home" asp-action="Index"><span id="home-link">Home</span></a> |
<a asp-controller="Product" asp-action="Index"><span id="home-link">Producten</span></a>
