@model IEnumerable<Project.Models.ProductModel>

@{
    ViewData["Title"] = "Producten";
}

<div class="row">

    <div class="col-10 h1-nodec mt-5">
        <h1>Bestellen</h1>
    </div>
    <div class="col-2 mt-5" style="text-align: right;">
        <a href="mailto:@ViewBag.mailTo">
            <img src="~/img/mail.png">
        </a>
    </div>

</div>

<form asp-action="Order">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    <div>
                        Product
                    </div>
                </th>
                <th>
                    <div>
                        Stock
                    </div>
                </th>
                <th>
                    besteld
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        <div>
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.DisplayFor(modelItem => item.AmountInStock)
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.CheckBoxFor(modelItem => item.Ordered)
                        </div>
                    </td>
                </tr>
            }    
        </tbody>
    </table>

    <div>
        <input type="submit" value="Besteld" class="btn btn-primary" />
    </div>
</form>

<a asp-controller="Home" asp-action="Index"><span id="home-link">Home</span></a> |
<a asp-controller="Product" asp-action="OrderOverview"><span id="home-link">Terug</span></a>
