@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid m-auto">

    <div class="row text-center h1-nodec">
        <div class="col">
            <h1>Welkom</h1>
            <hr id="welcome-page-hr"/>
        </div>
    </div>

    <div class="row mt-5 h1-nodec">
        <div class="col-6 text-end"> 
            <a class="text-dark" asp-controller="Product" asp-action="Index">
                <img src="~/img/tandwiel.png" style="width: 40%; height: auto;" class="animate"/> 
            </a>
        </div>
        <div class="col-6 text-start padding-top-7-5p">
            <a class="text-dark" asp-controller="Supplier" asp-action="Index"><h1>stock</h1></a>
        </div>
    </div>

    <div class="row mt-5 h1-nodec">
        <div class="col-6 text-end padding-top-7-5p">
            <a class="text-dark" asp-controller="Supplier" asp-action="Index"><h1>Leveranciers</h1></a>
        </div>
        <div class="col-6 text-start"> 
            <a class="text-dark" asp-controller="Supplier" asp-action="Index">
                <img src="~/img/supplier.png" style="width: 40%; height: auto;" /> 
            </a>
        </div>
    </div>

    <div class="row mt-5 h1-nodec">
        <div class="col-6 text-end"> 
            <a class="text-dark" asp-controller="Product" asp-action="Create">
                <img src="~/img/addProduct.png" style="width: 40%; height: auto;" /> 
            </a>
        </div>
         <div class="col-6 text-start padding-top-7-5p">
            <a class="text-dark" asp-controller="Supplier" asp-action="Index"><h1>Product toevoegen</h1></a>
        </div>
    </div>

    <div class="row mt-5 h1-nodec">
        <div class="col-6 text-end padding-top-7-5p">
            <a class="text-dark" asp-controller="Supplier" asp-action="Index"><h1>Leverancier toevoegen</h1></a>
        </div>
        <div class="col-6 text-start"> 
            <a class="text-dark" asp-controller="Supplier" asp-action="Create">
                <img src="~/img/addSupplier.png" style="width: 40%; height: auto;" /> 
            </a>
        </div>
    </div>

</div>
