@{
    ViewData["Title"] = "Stock";
}

<div class="container-fluid text-center">

    <div class="row">
        <div class="col-4">
            <a class="text-dark" asp-controller="Stock" asp-action="pasStockAan">
                <img src="~/img/tandwiel.png" /> 
            </a>
            <br />
            <span>Pas stock aan</span>
        </div>

        <div class="col-4">
            <img src="" /> <br />
            <span>Overzicht leveranciers</span>
        </div>

        <div class="col-4">
            <img src="" /> <br />
            <span>Overzicht stock</span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-4">
            <img src="" /> <br />
            <span>Bestel</span>
        </div>

        <div class="col-4">
            <img src="" /> <br />
        </div>

        <div class="col-4">
            <img src="" /> <br />
        </div>
    </div>

</div>
