@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 15%;">
    <div class="col-4 text-center" id="ignoreBorder">
        <a asp-controller="Student" asp-action="ListStudents" class="ignoreBorder"> <img src="~/img/angel.png" /> </a>
    </div>

    <div class="col-4 text-center">
         <a asp-controller="Teacher" asp-action="Index" class="ignoreBorder"> <img src="~/img/devil.png" /> </a>
    </div>

    <div class="col-4 text-center" id="ignoreBorder">
         <a asp-controller="Course" asp-action="Index" class="ignoreBorder"> <img src="~/img/book.png" /> </a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-4 text-center" id="ignoreBorder">
        <a asp-controller="Student" asp-action="CreateNew" class="ignoreBorder"> <img src="~/img/plus.png" /> </a>
    </div>

    <div class="col-4 text-center">
         <a asp-controller="Teacher" asp-action="Create" class="ignoreBorder"> <img src="~/img/plus.png" /> </a>
    </div>

    <div class="col-4 text-center" id="ignoreBorder">
         <a asp-controller="Course" asp-action="Create" class="ignoreBorder"> <img src="~/img/plus.png" /> </a>
    </div>
</div>