@{
    ViewData["Title"] = "Aanpassen";
}

<div class="container text-center">

    <div class="row">
        <div class="col">
            <h1>Stock</h1>
            <h4>Beheer uw stock hier!</h4>
        </div>
    </div>

</div>
