@{
    ViewData["Title"] = "Voeg product toe";
}

<div class="container text-center">

    <div class="row">
        <div class="col">
            <h1>Stock</h1>
            <h4>Voeg hier een product toe</h4>
        </div>
    </div>

</div>
